#body
{
	-fx-font-family: arial;
	-fx-font-size: 12;	
	-fx-background-color:#F5F5F5;
}

.button
{
	-fx-pref-height: 24px;
	-fx-pref-width: 90px;
	-fx-background-color:#FAFAFA;
	-fx-border-color: rgb(78,105,255,0.6);  
}

#btngrande
{
	-fx-pref-height: 24px;
	-fx-pref-width: 115px;
	-fx-background-color:#FAFAFA;
	-fx-border-color: rgb(78,105,255,0.6);  
}

#btngrande:hover 
{
    -fx-background-color: #F0F0F0;
}

#btngrande:pressed 
{
	-fx-background-color:rgb(78,105,255,0.6);
}

.button:hover 
{
    -fx-background-color: #F0F0F0;
}

.button:pressed 
{
	-fx-background-color:rgb(78,105,255,0.6);
}


.text-field
{
	-fx-background-radius:0px;
	-fx-text-box-border:rgb(78,105,255,0.5);	
}

#panedecoration
{
	-fx-border-insets:0px;
	-fx-border-width:1px;
	-fx-border-color: rgb(78,105,255,0.6);            
}

#panetitle
{
	-fx-background-color:#F5F5F5;
}

#tableview
{
	-fx-border-color: rgb(78,105,255,0.6);  
	-fx-fill:black;
}

.table-column 
{
  -fx-alignment: CENTER-RIGHT;
}

.column-header-background
{
	-fx-background-color:#FAFAFA;
}

#tableview .label
{
	-fx-background-color:#FAFAFA;
	/*-fx-border-color: rgb(78,105,255,0.6); */
}

.show-hide-columns-button
{
	-fx-background-color:#FAFAFA;
}

.filler
{
	-fx-background-color:#F0F0F0;
}

#error
{
	 -fx-text-fill: red;
}