.root
{
	-fx-font-family: arial;
	-fx-font-size: 12;	
	-fx-background-color:#F5F5F5;
}

.button
{
	-fx-pref-height: 24px;
	-fx-pref-width: 90px;
	-fx-background-color:#FAFAFA;
	-fx-border-color: rgb(78,105,255,0.6);  
}

.button:hover 
{
    -fx-background-color: #F0F0F0;
}

.button:pressed 
{
	-fx-background-color:rgb(78,105,255,0.6);
}


.text-field
{
	-fx-background-radius:0px;
	-fx-text-box-border:rgb(78,105,255,0.5);	
}

#error
{
	 -fx-text-fill: red;
}