#body{
	-fx-font-family: arial;
	-fx-font-size: 12;
}

#inpuCode{
	-fx-max-width: 40;
}

#productName{
	-fx-max-width: 100;
}

#proveidorList{
	-fx-max-width: 100;
}

#refreshButton{
	-fx-min-width: 120;
}

#inputProductName{
	-fx-max-width: 126;
}